.flagContainer {
  height: 100vh;
  overflow: auto;
  > h1 {
    text-align: center;
    text-decoration: underline;
  }
  .countryPanel {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 250px;
    margin: 16px auto;
    border: solid 1px;
    .flagHolder {
      position: relative;
      img {
        width: 100%;
        height: auto;
        max-height: 200px;
        border-bottom: solid 1px;
      }
    }
    .detailHolder {
      height: 50%;
      padding: 8px;
      flex: 1;
      background-color: #FFF;
      h1 {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
